@page "/makes/create/"

@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New Make</h3>
<hr />
<br />

<FormComponent ButtonText="Create Make" make="make"
               OnValidSubmit="@CreateMake" />

@code {
    Make make = new Make();
    

    protected async override Task OnInitializedAsync()
    {
        
    }

    private async Task CreateMake()
    {
        await _client.PostAsJsonAsync(Endpoints.MakesEndpoint, make);
        _navManager.NavigateTo("/makes/");
    }

}