@page "/"
<HeadingComponent Text="Modern Web Development with Blazor and .NET Core 5" />

<h5>What You'll Learn</h5>
<ul>
    <li>
        Build A Strong Foundation in .NET 5 Programming With Blazor:
    </li>
    <li>
        Build a Single Page Application client side UI using Blazor and .NET 5
    </li>
    <li>
        Design a Database Using Entity Framework Core
    </li>
    <li>
        Repository Pattern and Dependency Injection
    </li>
    <li>
        Progressive Web Application (PWA) with Blazor
    </li>
    <li>
        Understand the REST API and Client UI design principles
    </li>
    <li>
        Global Error Handling with Http Interceptor
    </li>
    <li>
        Understand C# and .Net Core Web Syntax
    </li>
    <li>
        Understand how to customize Blazor app layouts
    </li>
    <li>
        Understand User Authentication and Authorization in Blazor
    </li>
    <li>
        Understand Identity Core and Identity Server
    </li>
    <li>
        Handle Blazor Application User Authentication State
    </li>
    <li>
        Consume REST Web API in Blazor Application
    </li>
    <li>
        Manage Packages with NuGet Manager
    </li>
    <li>
        Setup GitHub for Source Control
    </li>
    <li>    Deploy Applications and Database to Microsoft Azure</li>
</ul>















