@page "/models/create/"

@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New Model</h3>
<hr />
<br />

<FormComponent ButtonText="Create Model" OnValidSubmit="@CreateModel" model="model" />

@code {
    Model model = new Model();

    protected async override Task OnInitializedAsync()
    {
    }

    private async Task CreateModel()
    {
        await _client.PostAsJsonAsync(Endpoints.ModelsEndpoint, model);
        _navManager.NavigateTo("/models/");
    }

}