@page "/models/"
@attribute [Authorize]
    <HeadingComponent Text="Models" />
    <br />

    <a href="/models/create" class="btn btn-secondary">
        <span class="oi oi-plus"></span>
        Create New Model
    </a>
    <br />
    <br />
    @if (Models == null)
    {
        <div class="alert alert-info">Loading Models...</div>
    }
    else
    {
        <table class="table ">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var model in Models)
                {
                    <tr>
                        <td>@model.Name</td>

                        <td>
                            <a href="/models/view/@model.Id" class="btn btn-primary">
                                <span class="oi oi-book"></span>
                            </a>
                            <a href="/models/edit/@model.Id" class="btn btn-warning">
                                <span class="oi oi-pencil"></span>
                            </a>
                            <button class="btn btn-danger" @onclick="@(()=>Delete(model.Id))">
                                <span class="oi oi-delete"></span>
                            </button>

                        </td>
                    </tr>

                }
            </tbody>
        </table>
    }


    @code {
        
    }
