@page "/models/view/{id:int}"

@inject HttpClient _client
@inject NavigationManager _navManager

<h3>View</h3>

<FormComponent model="model" Disabled="true" />

@code {
    [Parameter] public int id { get; set; }
    Model model = new Model();

    protected async override Task OnParametersSetAsync()
    {
        model = await _client.GetFromJsonAsync<Model>($"{Endpoints.ModelsEndpoint}/{id}");
    }
}
