@page "/customers/create/"


<h3 class="card-title">Create New Customer</h3>
<hr />
<br />

<FormComponent ButtonText="Create Customer" OnValidSubmit="@CreateCustomer" customer="customer" />


@code {
    

}