@page "/bookings/create/"

<h3 class="card-title">Create New Booking</h3>

<hr />
<br />

<FormComponent ButtonText="Create Booking" OnValidSubmit="@CreateBooking" booking="booking" />

@code {
    

}