@page "/bookings/create/"

@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New Booking</h3>

<hr />
<br />

<FormComponent ButtonText="Create Booking" OnValidSubmit="@CreateBooking" booking="booking" />

@code {
    Booking booking = new Booking
    {
        DateOut = DateTime.Now.Date
    };


    private async Task CreateBooking()
    {
        await _client.PostAsJsonAsync(Endpoints.BookingsEndpoint, booking);
        _navManager.NavigateTo("/bookings/");
    }

}