@page "/vehicles/create/"


<h3 class="card-title">Create New Vehicle</h3>
<hr />
<br />

<FormComponent ButtonText="Create Vehicle" OnValidSubmit="@CreateVehicle" vehicle="vehicle" />

@code {
    

}